* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

#root {
  text-align: center;
}

.active {

  color: orange;
}

.links a {
  position: relative;
}

.links a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  background-color: orange;
  bottom: 0;
  transition: 0.3s;
}

.links a:hover {
  letter-spacing: 3px;
  font-size: larger;
}

.links a:hover::after {
  width: 100%;

}

.thanks {
  position: relative;
  letter-spacing: 0.5px;
  font-size: 18px;
}

.thanks::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background-color: teal;
  left: -10px;
  bottom: -5px;
  transition: 0.3s;
}

.thanks:hover::after {
  width: 120%;
}

@media (max-width: 640px) {
  .min-w-full {
    overflow-x: auto;
  }

  .sm\:rounded-lg {
    border-radius: 0;
  }
}